
.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 800px;
    /*overflow-x: visible;*/
}
#started {
background-color: greenyellow;
    float: inside;

}
#notStarted{
    background-color: red;
    float: inside;
}

#scoreContainer{

    text-align: center;
    font-size: 1.2em;

}

#textRight{
    font-size: 1.2em;
float: right;

}
#textLeft{
    font-size: 1.2em;
float: left;
}
#imgRight{
    float: right;
}
#imgLeft{
float: left;
}
#butt{
    height: 25px;
    width: 150px;
}